node_modules
.next
public
**/**/node_modules
**/**/.next
**/**/public
packages/lib/translations/**/*.js

packages/angular/src
packages/react/src
packages/preact/src
packages/solid/src
packages/svelte/src
packages/vue/src

*.lock
*.log
*.test.ts

.gitignore
.npmignore
.prettierignore
.DS_Store
.eslintignore
